<nav class="navbar navbar-inverse navbar-expand-lg bg-dark">
    <div class="container col header-container">

        <div class="navbar-translate">
            <a class="cursor-pointer" (click)="navigateToAdverts()">
                <img src="assets/img/sellIt2.png" width="40" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="role === IUserRole.Administrator">
                    <a class="nav-link cursor-pointer" (click)="navigateToRoleSettings()">
                        Додади улога
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="navigateToAdverts()">
                        Сите огласи
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="navigateToNewAdvert()">
                        Нов оглас
                    </a>
                </li>
                <li *ngIf="!isLoggedIn()" class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="navigateToLogin()">
                        Најава
                    </a>
                </li>
                <li *ngIf="isLoggedIn()" class="dropdown nav-item">
                    <a class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item cursor-pointer" (click)="navigateToProfile()">
                            <mat-icon class="pl-1">settings</mat-icon>
                            <span class="pl-3">Профил</span>
                        </a>
                        <a class="dropdown-item cursor-pointer" (click)="logOut()">
                            <mat-icon class="pl-1">power_settings_new</mat-icon>
                            <span class="pl-3">Одјава</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>