<nav class="navbar navbar-inverse navbar-expand-lg bg-dark">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-translate">
            <!-- <a href="#pablo" class="btn btn-rose btn-round btn-raised" data-toggle="dropdown">
                SellIt
            </a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                        Сите огласи
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                        Нов оглас
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#pablo" class="dropdown-item">Me</a>
                        <a href="#pablo" class="dropdown-item">Settings and other stuff</a>
                        <a href="#pablo" class="dropdown-item">Sign out</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>

<div class="container">



    <mat-form-field>
        <input matInput placeholder="Пребарувај">
    </mat-form-field>


    <mat-form-field style="margin-left:20px">
        <mat-select placeholder="Категорија">
            <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    
    <div class="col-md-12" style="background-color: #fff">
        <hr>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 text-center">
                <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
            </div>
            <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                <h4 class="product-name">
                    <strong>Product Name</strong>
                </h4>
                <h4>
                    <small>Product description</small>
                </h4>
            </div>
            <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                    <h6>
                        <strong>25.00
                            <span class="text-muted">x</span>
                        </strong>
                    </h6>
                </div>
                <div class="col-4 col-sm-4 col-md-4">
                    <div class="quantity">
                        <input type="button" value="+" class="plus">
                        <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty" size="4">
                        <input type="button" value="-" class="minus">
                    </div>
                </div>
                <div class="col-2 col-sm-2 col-md-2 text-right">
                    <button type="button" class="btn btn-outline-danger btn-xs">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>







</div>