/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background-color: #eee !important;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    max-width: 1400px;
}

.main {
    margin-top: 25px;
    width: 100%;
}

.cdk-overlay-container {
    z-index: 1200;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

img {
    object-fit: contain;
}

.ng2-file-input {
    margin-top: 40px !important;
}

.ng2-file-input .ng2-file-input-drop-container {
    min-height: 70px !important;
}
