/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background-color: #eee !important;
}

.cursor-pointer {
    cursor: pointer;
}

.container:not(.header-container) {
    max-width: 1400px;
}

.main-raised {
    margin-top: 25px;
    width: 100%;
}