<div class="row pt-5">
    <div class="col-md-5 col-sm-6 ml-auto mr-auto">
        <div class="card card-signup">
            <form class="form">

                <div class="card-header card-header-info text-center">
                    <h4>Профил</h4>
                </div>
                <div class="card-body mt-3" style="position: relative">
                    <ngx-loading [show]="isLoading"></ngx-loading>

                    <form *ngIf="isProfile" [formGroup]="profileForm">
                        <span class="bmd-form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <mat-icon>face</mat-icon>
                                </span>
                                <mat-form-field class="col-md-10">
                                    <input matInput placeholder="Име" formControlName="name" required>
                                </mat-form-field>
                            </div>
                        </span>

                        <span class="bmd-form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <mat-icon>email</mat-icon>
                                </span>
                                <mat-form-field class="col-md-10">
                                    <input matInput placeholder="Емаил" formControlName="email" required>
                                </mat-form-field>
                            </div>
                        </span>

                        <span class="bmd-form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <mat-icon>location_city</mat-icon>
                                </span>
                                <mat-form-field class="col-md-10">
                                    <mat-select placeholder="Град" formControlName="city" required>
                                        <mat-option *ngFor="let city of cities" [value]="city.value">
                                            {{ city.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </span>

                        <span class="bmd-form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <mat-icon>phone</mat-icon>
                                </span>
                                <mat-form-field class="col-md-10">
                                    <input matInput [type]="'number'" placeholder="Телефон" formControlName="phone" required>
                                </mat-form-field>
                            </div>
                        </span>
                    </form>
                    <form *ngIf="!isProfile" [formGroup]="passwordForm">                     

                        <span class="bmd-form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <mat-icon>lock_outline</mat-icon>
                                </span>
                                <mat-form-field class="col-md-10">
                                    <input matInput placeholder="Моментална лозинка" formControlName="currentPassword" [type]="hideCurrent ? 'password' : 'text'" required>
                                    <mat-icon matSuffix class="cursor-pointer" (click)="hideCurrent = !hideCurrent">{{ hideCurrent ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </mat-form-field>
                            </div>
                        </span>

                        <span class="bmd-form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <mat-icon>lock_outline</mat-icon>
                                </span>
                                <mat-form-field class="col-md-10">
                                    <input matInput placeholder="Нова лозинка" formControlName="newPassword" [type]="hideNew ? 'password' : 'text'"
                                        required>
                                    <mat-icon matSuffix class="cursor-pointer" (click)="hideNew = !hideNew">{{ hideNew ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </mat-form-field>
                            </div>
                        </span>

                        <span class="bmd-form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <mat-icon>lock_outline</mat-icon>
                                </span>
                                <mat-form-field class="col-md-10">
                                    <input matInput placeholder="Потврдна лозинка" formControlName="confirmPassword" [type]="hideRepeated ? 'password' : 'text'"
                                        required>
                                    <mat-icon matSuffix class="cursor-pointer" (click)="hideRepeated = !hideRepeated">{{ hideRepeated ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </mat-form-field>
                            </div>
                        </span>                       

                    </form>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-link btn-lg col-md-6 text-center" [disabled]="clickedSave" (click)="changeForm()">{{ isProfile ? 'Промена лозинка' : 'Промена профил' }}</button>
                    <button class="btn btn-rose btn-link btn-lg col-md-5" [disabled]="clickedSave" (click)="onSubmit()">Зачувај</button>
                </div>
            </form>
        </div>
    </div>
</div>