<div class="row col-md-12 main custom-margin-left">
    <form [formGroup]="filterGroup" class="row col-md-8 pt-3 pb-0 mb-1 ml-3">
        <mat-form-field>
            <input matInput placeholder="Пребарувај" formControlName="search">
        </mat-form-field>
        <mat-form-field class="ml-4">
            <mat-select placeholder="Категорија" formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{ category.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="ml-4">
            <mat-select placeholder="Град" formControlName="city">
                <mat-option *ngFor="let city of cities" [value]="city.value">
                    {{ city.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="mt-1">
            <button class="btn btn-rose btn-link" (click)="removeFilters()">Избриши филтри</button>
        </div>
    </form>
    <mat-paginator class="row col-md-4 pt-3" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = $event">
    </mat-paginator>
</div>

<div *ngIf="!isLoading">
    <div *ngIf="filteredAdverts.data.length > 0" class="col-md-12 main">

        <hr />
        <div *ngFor="let advert of filteredAdverts.data | paginate: { itemsPerPage: pageEvent.pageSize, currentPage: pageEvent.pageIndex + 1, totalItems: pageEvent.length }">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 text-center">
                    <img class="img-responsive" src="{{ advert.base64Image ? 'data:image/jpeg;base64,' + advert.base64Image : 'http://placehold.it/240x160' }}" width="240" height="160">
                </div>
                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                    <h4 class="product-name text-primary">
                        <strong>{{ advert.title }}</strong>
                    </h4>
                    <h4>
                        <small>Цена: </small>
                        <strong>{{ advert.price ? (advert.price | currency:'MKD ') : 'По договор' }}</strong>
                    </h4>
                    <h4 class="mt-5">
                        <small>Објавено: </small>
                        <strong>{{ advert.createdOn | amCalendar }}</strong>
                    </h4>
                </div>
                <div class="col-12 col-sm-12 text-sm-center col-md-3 pr-5 text-md-right">
                    <h4 class="text-primary">
                        <small>Категорија: </small>
                        <strong>{{ getCategoryText(advert.category) }}</strong>
                    </h4>
                    <h4 style="margin-top: 86px">
                        <small>Локација: </small>
                        <strong>{{ advert.location }}</strong>
                    </h4>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div *ngIf="filteredAdverts.data.length === 0" class="col-md-12 main pb-5 pt-5">
        <div class="col-md-12 text-center" style="padding-right: 102px">
            <mat-icon style="font-size: 100px;">sentiment_dissatisfied</mat-icon>
        </div>
        <div class="col-md-12 text-center">
            <span style="font-size: 25px">Нема пронајдени записи</span>
        </div>
    </div>
</div>