<div class="col-md-12">
    <button *ngIf="isCategorySelected" class="btn btn-round btn-rose">Назад</button>
</div>

<div class="row">

    <div class="main main-raised">

        <div *ngIf="!isCategorySelected" class="row col-md-3 col-md-offset-5" style="padding: 150px; margin-left: 280px">
            <mat-form-field>
                <mat-select placeholder="Категорија" [(ngModel)]="selectedCategory">
                    <mat-option *ngFor="let category of categories" [(value)]="category.value">
                        {{ category.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-md-12 mt-3 text-center">
                <button class="btn btn-link btn-rose" (click)="saveCategory()">Зачувај</button>
            </div>







        </div>

        <div *ngIf="isCategorySelected" class="row">

            <div class="col-md-6 col-sm-6">
                <div class="col-md-12">
                    <h2 class="title text-primary"> XXXX </h2>
                </div>

                <hr />
                <!-- <input type="file" id="file"> -->
                <!--

                <hr />

                <div class="row col-md-12">
                    <div class="col-md-4">
                        <mat-icon class="text-primary align-middle">face</mat-icon>
                        <span>Перо</span>
                    </div>
                    <div class="col-md-4 text-center">
                        <mat-icon class="text-primary align-middle">location_city</mat-icon>
                        <span>Битола</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <mat-icon class="text-primary align-middle">phone</mat-icon>
                        <span>078/285-716</span>
                    </div> -->

                <form>
                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="Наслов на огласот">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Модел">
                    </mat-form-field>
                    <mat-radio-group class="text-right">
                        <mat-radio-button value="1" class="pl-5">Нов</mat-radio-button>
                        <mat-radio-button value="2" class="pl-5">Половен</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field class="col-md-12 mt-3">
                        <textarea rows="8" matInput placeholder="Опис"></textarea>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 mt-3">
                        <input matInput placeholder="Цена">
                    </mat-form-field>
                    <mat-checkbox class="col-md-6 mt-5">По договор</mat-checkbox>
                </form>
                <div class="col-md-12 mt-3 text-center mb-3">
                    <button class="btn btn-link btn-rose">Зачувај</button>
                </div>


            </div>

            <div class="col-md-6 col-sm-6" style=" padding: 40px;">
                <!--<dropzone style="height: 100%; border: 1px solid black;" [config]="config" [message]="'Click or drag images here to upload'"></dropzone>-->
            </div>








        </div>





    </div>


</div>